@model PasteViewModel
@inject SignInManager<IdentityUser> SignInManager

<div>
    <h1 class="textColor">@Model.Paste.Title</h1>
    <h4 class="text-white"> @Model.Paste.Topic </h4>
    <div class="pasteWrap text-white">
        <div class="block">
            <p> Дата создания - @Model.Paste.CreateAt.Date.ToShortDateString()</p>
        </div>
        <div class="block">
            <p> Просмотры - @Model.Paste.View</p>
        </div>
        <div class="block">
            <p> Автор - @Model.Paste.Author.Email </p>
        </div>
    </div>
    <textarea class="textkek" readonly>@Model.Paste.Text</textarea>
    <div>

    </div>
    <div class="text-white">
        <h1> Коментарии:</h1>
        @if (SignInManager.IsSignedIn(User))
        {
            <div>
                <h5>Оставте комментарий</h5>
                <form method="post" asp-area="Home" asp-controller="Home" asp-action="AddComment">
                    <textarea class="form-control" name="com"></textarea>
                    <button type="submit" class="btn btn-lg btn-primary create-btn">Отправить</button>
                    <input style="visibility: hidden" name="hash" value="@Model.Paste.Hash" />
                </form>
            </div>
        }
        else
        {
            <h3>Чтобы оставлять комментарии надо <a asp-area="Identity" asp-page="/Account/Register">зарегистрироваться</a> </h3>
        }
        <div>
            @foreach (CommentModel comment in Model.Comments)
            {
                <div class="comments">
                    <div class="comment-wrap">
                        <div class="block">
                            <p> @comment.Author.UserName </p>
                        </div>
                        <div class="block">
                            <p> @comment.CreateAt </p>
                        </div>
                    </div>
                    <p style="padding: 10px"> @comment.Comment </p>
                </div>
            }
        </div>
    </div>
</div>
