@model UsersViewModel

<h1 class="text-white"> Все пользователи </h1>

<table id="table-id" class="adminTable">
    <thead>
        <tr class="adminTable">
        <th class="adminTable text-white">Никнейм</th>
        <th class="adminTable text-white">Номер телефона</th>
        <th class="adminTable text-white">Количество лайков</th>
        <th class="adminTable text-white">Жалобы</th>
        <th class="adminTable text-white"></th>
        <th class="adminTable text-white"></th>
    </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model.Users)
        {
            <tr class="adminTable">
                <td class="adminTable text-white"> @user.Email </td>
                <td class="adminTable text-white"> @user.PhoneNumber </td>
                <td class="adminTable text-white"> @Model.GetLikesCount(user) </td>
                @if (Model.HaveReports(user))
                {
                    <form method="post" asp-route-id="@user.Id" asp-area="AdminPanel" asp-controller="Admin" asp-action="Reports">
                        <td class="adminTable"><button type="submit" class="btn-danger">Посмотреть жалобы</button></td>
                    </form>
                }
                else
                {
                    <td class="adminTable text-white"> Жалобы отсутствуют </td>   
                }
                @if ( await UserManager.IsInRoleAsync(user, "Admin"))
                {
                    <td class="adminTable text-white">Админ</td>
                }
                else
                {
                    <form method="post" asp-route-id="@user.Id" asp-area="AdminPanel" asp-controller="Admin" asp-action="UpToAdmin">
                        <td class="adminTable"><button type="submit" class="btn-info">Повысить до админа</button></td>
                    </form>    
                }
                <form method="post" asp-route-id="@user.Id" asp-area="AdminPanel" asp-controller="Admin" asp-action="DeleteUser">
                    <td class="adminTable"><button type="submit" class="btn-danger">Заблокировать</button></td>
                </form>
            </tr>
        }
    </tbody>
</table>
