@model PasteViewModel
@inject SignInManager<IdentityUser> SignInManager

<div>
    <h1 class="textColor">@Model.Paste.Title</h1>
    <h4 class="text-white"> @Model.Paste.Topic </h4>
    <h5 class="text-danger"> @ViewBag.Report </h5>
    <div class="pasteWrap text-white">
        <div class="block">
            <p> Дата создания - @Model.Paste.CreateAt.Date.ToShortDateString()</p>
        </div>
        <div class="block">
            <p> Просмотры - @Model.Paste.View</p>
        </div>
        <div class="block">
            <p> Автор - @Model.Paste.Author.Email </p>
        </div>
    </div>
    <textarea class="textkek" readonly>@Model.Paste.Text</textarea>
    @if(SignInManager.IsSignedIn(User))
    {
        <div class="like-wrap">
            <div class="like-block">
                <h5 class="text-white"> @Model.Likes.Count() </h5>
            </div>
            <div class="like-block">
                @if(Model.IsLiked(User.Identity.Name))
                {
                    <form asp-area="Home" asp-controller="Paste" asp-action="RemoveLike">
                        <button class="like" type="submit" asp-for="hash">
                            <img src="~/img/like.png" alt="Убрать лайк">
                        </button>
                        <input style="display: none" name="hash" value="@Model.Paste.Hash" />
                    </form>
                }
                else
                {
                    <form asp-area="Home" asp-controller="Paste" asp-action="AddLike">
                        <button class="like" type="submit" asp-for="hash">
                            <img src="~/img/non-like.png" alt="Лайк">
                        </button>
                        <input style="display: none" name="hash" value="@Model.Paste.Hash" />
                    </form>
                }
            </div>
            <div class="like-block">
                <button class="btn-danger report" id="show">Пожаловаться на автора</button>
            </div>
        </div>
        <div class="popup">
            <div class="popup__container">
                <div class="popup__wrapper">
                    <div id="blablabla">
                        <form role="form" asp-area="Home" asp-controller="Paste" asp-action="SendReport" method="post">
                            <label>Текст жалобы</label>
                            <textarea name="reportText" class="report-area"></textarea>
                            <button type="submit" class="btn btn-success">Отправить</button>
                            <input style="display: none" name="hash" value="@Model.Paste.Hash" />
                        </form>
                        <button class="btn btn-danger" style="margin: 5px;" id="hide">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="like-wrap">
            <div class="like-block">
                <h5 class="text-white"> Лайки - @Model.Likes.Count() </h5>
            </div>
        </div>
    }
    <div class="text-white">
        <h1> Коментарии:</h1>
        @if (SignInManager.IsSignedIn(User))
        {
            <div>
                <h5>Оставте комментарий</h5>
                <form method="post" asp-area="Home" asp-controller="Paste" asp-action="AddComment">
                    <textarea class="form-control" name="com"></textarea>
                    <button type="submit" class="btn btn-lg btn-primary create-btn">Отправить</button>
                    <input style="display: none" name="hash" value="@Model.Paste.Hash" />
                </form>
            </div>
        }
        else
        {
            <h3>Чтобы оставлять комментарии надо <a asp-area="Identity" asp-page="/Account/Register">зарегистрироваться</a> </h3>
        }
        <div>
            @foreach (CommentModel comment in Model.Comments)
            {
                <div class="comments">
                    <div class="comment-wrap">
                        <div class="block">
                            <h5> @comment.Author.UserName </h5>
                        </div>
                        <div class="block">
                            <h5> @comment.CreateAt </h5>
                        </div>
                    </div>
                    <p style="padding: 10px"> @comment.Comment </p>
                </div>
            }
        </div>
    </div>
</div>
